{% extends "app/base.html" %}

{% block title%} EhB ESA | Overview {% endblock %}

{% block body %}
    {% if request.user.is_authenticated %}
        <div class="grid grid-rows-[auto_1fr] gap-4 min-h-screen p-4 sm:mx-16">
            <div class="grid items-center bg-gray-200 rounded-2xl mt-8 px-4 py-4 sm:px-8 sm:py-4 grid-cols-[1fr_auto]">
                <h1 class="font-bold text-2xl text-slate-600">Overview</h1>
                <a class="bg-slate-600 px-4 py-2 sm:py-4 rounded-2xl text-center text-slate-400 font-medium" href="logout_view">logout</a>
            </div>
            <div class="grid gap-4 sm:gap-x-8 bg-gray-200 rounded-2xl p-4 sm:p-8 mb-8 grid-cols-1 sm:grid-cols-[3fr_1fr]  grid-rows-[auto_1fr]">
                <h1 class="sm:col-span-2 font-bold text-2xl text-slate-500">Welcome {{request.user}}</h1>
                <div class="flex bg-slate-400 rounded-xl flex-col px-8 py-4 gap-4">
                    <h2 class="text-xl text-slate-100 font-medium">
                        {% if chosen_month_to_text %}
                            All events for: {{chosen_month_to_text}}, 
                        {% endif %}
                        {% if chosen_month_to_text %}
                            {{chosen_months_year_to_text}}
                        {% endif %}
                        
                    </h2>
                    <div class="grid content-stretch">
                        <div id="week" class="grid grid-cols-7 gap-2">
                            {% for i in days_in_chosen_month_as_set %}
                                <div class=" bg-slate-200 rounded-md p-2">
                                    <div class="flex h-full flex-col">
                                    <p class="pb-2">{{i}}</p>
                                        <div class="flex flex-col-reverse gap-2 h-full">
                                            <!-- "for event, days"
                                            Event zal de key bevatten en days zal de data bevatten die met die key geassocieerd is -->
                                            {% for event, days_and_color in calendar_event_dictionary.items %}
                                            <!-- "calendar_event_dictionary.items"
                                            Om over Key-Value Pairs te itereren moet de dictionary calendar_event_dictionary omgezet worden met .items() (in Django is dit gewoon .items)
                                            om zowel de key als de values van de keys te gebruiken in de for loop met "event, days".

                                            De key is namelijk een CalendarEvent object waar ik mee werk.
                                            
                                            Dit zal de dictionary omzetten van:
                                            {<eventObject instance1>: {...}, <eventObject instance2>: {...}}
                                            naar een list met key-value pair tuples:
                                            [(<eventObject instance1>: {...}, <eventObject instance2>: {...}), (<eventObject instance1>: {...}, <eventObject instance2>: {...})]

                                            De default iteratie van Python met de for loop iterate enkel over de keys van de dictionary en niet de values.
                                            Dus door .items() te gebruiken kun je over zowel de keys als de values itereren.
                                            Nodig voor event.eventid.eventType.type tijdens de value check in days.

                                            De complexiteit van het controleren op "Membership Check" (if i in days) in een lijst is O(n), waarbij n de lengte van de lijst is. 
                                            dus heb ik days las is een set gedifined in plaats van een lijst, en wordt de complexiteit O(1).

                                            Het gebruik van .items() zelf verandert de iteratiecomplexiteit niet, die blijft O(n) als days een list was, waarbij n het aantal items in de dictionary is.

                                            De zoekimplementatie met een lidmaatschapscontrole "if i in days" in Python:
                                            wanneer days een lijst is, voert een lineaire zoekopdracht uit met O(n) complexiteit. 
                                            Ter vergelijking, het gebruik van een set zou O(1) gemiddelde tijdcomplexiteit voor "Membership Check" mogelijk maken.
                                            -->
                                            <!-- i in days_and_color.event_days_as_set dit zal de inner dictionary met key "event_days_as_set" aanspreken -->
                                            {% if i in days_and_color.event_days_as_set %}
                                                <div class="p-2 rounded-md text-white h-full break-words" style="background-color: rgb({{days_and_color.rgb.r}}, {{days_and_color.rgb.g}}, {{days_and_color.rgb.b}});">
                                                    <p>{{ event.eventid.eventType.type }}</p>
                                                    <p>{{ event.eventid.itemid.naam }}</p>
                                                    <p>{{ event.calendarid.userid.username }}</p>
                                                </div>
                                            {% endif %}

                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="flex bg-slate-400 rounded-xl p-4 sm:px-8 sm:py-4 gap-4 flex-col">
                    <h2 class="text-xl text-slate-100 font-medium">Navigation</h2>
                    <div class="flex gap-4 flex-col">
                        <a class="grid bg-slate-200 rounded-md place-content-center p-4 text-lg font-medium" href="event-manager">Manage Events</a>
                        <a class="grid bg-slate-200 rounded-md place-content-center p-4 text-lg font-medium" href="user-manager">Manage Users</a>
                        <a class="grid bg-slate-200 rounded-md place-content-center p-4 text-lg font-medium" href="item-manager">Manage Items</a>
                    </div>
                </div>

            </div>
        </div>
    {% else %}
        <div class="grid grid-rows-[auto_1fr] gap-4 min-h-screen p-4 sm:mx-16">
            <div class="gap-8 bg-gray-200 rounded-2xl p-4 sm:p-8 mb-8">
                <div class="bg-slate-400 rounded-xl p-4 sm:p-8">
                   <a href="signin">
                    <h1>please log in <u>here</u></h1>
                   </a>
                </div>
            </div>
        </div>
    {% endif %} 
{% endblock %}