{% extends "app/base.html" %}

{% block title%} EhB ESA | Sign Up {% endblock %} 

{% block body %} 
<div class="bg-slate-900 rounded-md p-4 text-gray-300 text-center">Sign Up</div>
<input class="bg-slate-600 rounded-md" placeholder="Username">
<input class="bg-slate-600 rounded-md" placeholder="Password">
<a href="signin"><h1 class="text-blue-600">Sign in? <u>Click here</u></h1></a>
<button class="bg-slate-600 rounded-md p-4 text-gray-300 text-center hover:bg-slate-800">Register</button>
{% endblock %} 